.product_page{
height: 100vh;

padding-top: 30px;
margin-top: 30px;

}

.image{
    margin-left: 50px;
width: 300px;
margin-bottom: 60px;
}

.larger_img{
margin: 20px;
width:300px;

}

.larger_img img{
    height: 340px;
    width: 350px;
    border-radius: 15px;
    
}

.images{
    display: flex;
}

.images img{
    margin: 15px;
    height: 65px;
    border-radius: 15px;

}

